@import "tailwindcss";

@theme {
    /* Fonts */
    --font-display: "Inter", sans-serif;
    --font-sans: "Inter", sans-serif;

    /* Border Radius */
    --radius-xl: 1rem;
    --radius-2xl: 1.5rem;

    /* Custom Colors */
    --color-primary: #FF5D22;
    --color-primary-hover: #E64A19;

    --color-background-light: #f3f4f6;
    --color-background-dark: #0f111a;

    --color-surface-light: #ffffff;
    --color-surface-dark: #181b26;
    --color-surface-darker: #11131c;

    --color-accent-blue: #3b82f6;
    --color-accent-green: #10b981;
    --color-accent-purple: #8b5cf6;
    --color-accent-orange: #f97316;
    /* Custom Animations */
    --animate-slow-zoom: slow-zoom 20s ease-in-out infinite alternate;

    @keyframes slow-zoom {
        from {
            transform: scale(1);
        }

        to {
            transform: scale(1.15);
        }
    }
}

/* Force Dark Mode Class Strategy */
@variant dark (&:where(.dark, .dark *));