@import "tailwindcss";

@theme {
    /* Fonts */
    --font-display: "Inter", sans-serif;
    --font-sans: "Inter", sans-serif;

    /* Border Radius */
    --radius-xl: 1rem;
    --radius-2xl: 1.5rem;

    /* Custom Colors */
    --color-primary: #6366f1;
    --color-primary-hover: #4f46e5;

    --color-background-light: #f3f4f6;
    --color-background-dark: #0f111a;

    --color-surface-light: #ffffff;
    --color-surface-dark: #181b26;
    --color-surface-darker: #11131c;

    --color-accent-blue: #3b82f6;
    --color-accent-green: #10b981;
    --color-accent-purple: #8b5cf6;
    --color-accent-orange: #f97316;
    --color-accent-red: #ef4444;
}

/* Force Dark Mode Class Strategy */
@variant dark (&:where(.dark, .dark *));